<template name="step1">
    <h1>Vous connaîtrez la bière !</h1>
    <div id="cmd-presentation-product">
        <!--Photo du produit-->
        <img src=""/>
        <!--Description du produit-->
        <p></p>
    </div>
    <div id="cmd-quantity">
        <form>
            <!--champs pour sélectionner les quantités-->
            <label for="quantity">Sélectionner la quantité souhaitée</label>
            <input type="text" value="0" name="quantity" id="quantity"/>
            <!--Bouton pour passer à l'écran suivant-->
            <input type="submit" value="Suivant">
        </form>
    </div>
</template>