<template name="slide7">
    <div class="slides" id="slide7">
        <div class="description">
            <h2>L'univers de la bière est riche et complexe</h2>
            <p>On compte dans le monde plus de 70 appelations différentes pour au moins 10 000 brasseries. En france,
                cet univers est en plein essor et le nombre de nouvelles brasseries a explosé au cours de ces 10
                dernières années.</p>
        </div>
        <div class="elements">
            <img src="slide7/verre-biere-1.png" alt="verre de biere" title="verre de biere 1"/>
            <img src="slide7/verre-biere-2.png" alt="verre de biere" title="verre de biere 2"/>
            <img src="slide7/verre-biere-3.png" alt="verre de biere" title="verre de biere 3"/>
            <img src="slide7/verre-biere-4.png" alt="verre de biere" title="verre de biere 4"/>
            <img src="slide7/verre-biere-5.png" alt="verre de biere" title="verre de biere 5"/>
            <img src="slide7/verre-biere-6.png" alt="verre de biere" title="verre de biere 6"/>
        </div>
    </div>
</template>