<template name="slide4">
    <div class="slides" id="slide4">
        <section>
            <div class="description">
                <h2>Et pourtant en France, <span class="CocoriKro-text">cocoriKro !</span></h2>
                <p>
                    Et pourtant en France, 9 bières consommés sur 10 sont des bières industrielles de mauvaise qualité.
                    Pour un pays qui se veut l’apôtre du bien manger et du bien boire mondial, on trouve que ça fait un
                    peu tâche.
                </p>
            </div>
            <div class="elements">
                <div class="bottles">
                    {{#each bottles}}
                        <img src="{{this}}" alt="bottle of beer drawing" title="bottle of beer"/>
                    {{/each}}
                </div>
            </div>
        </section>
        <div class="cocoriKro">
            <img src="slide4/cocoriKro.png">
        </div>
    </div>
</template>