<template name="slide6">
    <div class="slides" id="slide6">
        <div id="whole-team" class="team-member">
            <div class="transparent-container transparent-container-team">
                <img src="co-logo-main.png" title="logo chercheurs d'orge" alt="logo chercheurs d'orge">
                <p>
                    Vous accompagner, vous, novice ou amateur, amoureux des vignes ou contempteur de la boisson rouge,
                    chauvin forcené ou citoyen des mondes : voilà notre envie. Par des conseils, des mises en perspective,
                    des découvertes, avec Christian Oronos, notre aventurier en chef.
                </p>
            </div>
        </div>
        <div id="christian-team" class="team-member">
            <div class="transparent-container transparent-container-member">
                <h2>Christian Oronos</h2>
                <p>
                    Ce virtuose saurait faire aimer la bière à n'importe qui ! Propriétaire depuis plus de quatorze ans
                    du Palais de la Bière, une institution lyonnaise, sa connaissance du produit est sans égale et s'est
                    formée à force de travail et de curiosité. Cet épicurien n'est pas sectaire et saura vous parler aussi
                    bien de champagne, de cigare, de vin que de cuisine. Rugbyman et basque dans l'âme, il aime la sincérité
                    et l'authenticité. Pas de place pour les produits industriels ou commerciaux, la bière est un produit
                    noble qu'il s'agit de savoir déguster. C'est lui qui nous guide sur ce parcours initiatique et
                    prospecte pour nous à la recherche des pépites de la bière.
                </p>
            </div>
        </div>
        <div id="mael-team" class="team-member">
            <div class="transparent-container transparent-container-member">
                <h2>Maël</h2>
                <p>
                    Ouvert sans réserves à toute originalité, Maël ne navigue pas à vue dans le monde de la bière.
                    Il est friand de nouvelles expériences, de recherches folles ou mathématiques, et de création,
                    notamment artisanales. Curieux, pointu, touche-à-tout, il est prêt à tout goûter pour dénicher
                    les spécificités là où elles se trouvent, tout comme il aime comprendre le pourquoi des choses,
                    et mettre les mains dans le cambouis (enfin, dans le houblon...).
                </p>
            </div>
        </div>
        <div id="gaetan-team" class="team-member">
            <div class="transparent-container transparent-container-member">
                <h2>Gaëtan</h2>
                <p>
                    S'il y a du houblon, c'est que c'est bon ! Pour lui, la bière est synonyme de convivialité et de
                    bons moments partagés. Curieux de nature, il goûte de tout et sait tout apprécier. Bon public,
                    généreux, il sait tout de même trancher et reconnaître les attraits des produits d'exception.
                    Mais le plus important, c'est de se retrouver entre amis pour partager des avis, des envies,
                    des souvenirs.
                </p>
            </div>
        </div>
        <div id="thomas-team" class="team-member">
            <div class="transparent-container transparent-container-member">
                <h2>Thomas</h2>
                <p>
                    Cet amateur de bon vin a su tomber sous le charme d'une boisson qui sait se montrer sous un jour
                    délicat et subtil. Son approche œnologique lui confère un regard neuf et critique sur la bière.
                    Parfois sceptique, toujours curieux, avide de comparaisons, il aime les valeurs sûres qui ont su
                    résister à l'épreuve des siècles, là où tant d'affabulateurs auront disparu sans bruit des programmes
                    de dégustation.
                </p>
            </div>
        </div>
        <div id="benjamin-team" class="team-member">
            <div class="transparent-container transparent-container-member">
                <h2>Benjamin</h2>
                <p>
                    Sac à dos, carte en langue locale du début des années 30 et rêves d'évasion en bandoulière,
                    Ben est prêt pour l'aventure. Pour étancher sa soif de découvertes, il est prêt à tous les défis,
                    à visiter tous les pays, sauf évidemment un seul, popularisé par le Capitaine Haddock dans le Crabe
                    aux Pinces d'Or : le Pays de la Soif. Généreux comme lui envers Tintin, il suivra Christian dans tous
                    ses périples pour ramener à Moulin-Bar des pépites !
                </p>
            </div>
        </div>
    </div>
</template>