<template name="slide8">
    <div class="slides" id="slide8">
        <div class="description">
            <h2>Nous avons donc créé les Chercheurs d'Orge</h2>
            <p>Avec comme (modeste) ambition de former les ambassadeurs français de la bière de qualité. Et ces
                ambassadeurs c'est VOUS ! Notre mission ? Vous accompagner dans vos premiers pas à la découverte du
                (vrai) monde de la bière et vous donner les armes pour continuer d'explorer cet univers complexe de
                manière autonome, en continuant de goûter, sentir et expérimenter.
            </p>
        </div>
        <div class="elements">
            <img src="slide8/verre-gaetan.png" alt="verre gaga" title="verre gaga" class="gaga"/>
            <img src="slide8/verre-ben.png" alt="verre ben" title="verre ben" class="ben"/>
            <img src="slide8/verre-christian.png" alt="verre christian" title="verre christian" class="christian"/>
            <img src="slide8/verre-thomas.png" alt="verre thomas" title="verre thomas" class="thomas"/>
            <img src="slide8/verre-mael.png" alt="verre mael" title="verre mael" class="mael"/>
        </div>
    </div>
</template>