<template name="slide5">
    <div class="slides" id="slide5">
        <div>
            <!-- Contient la premiere section : texte + bières + échantillons + verres (8 colonnes)-->
            <div class="description">
                <!-- Contient le texte (ligne entière)-->
                <h2>Et pour commencer, on reprend les bases</h2>
                <p>Les français ne connaissent pas la bière ? Rien de mieux que de reprendre les bases de cet univers
                    ensemble. Nous avons crée un coffret qui s’adresse aussi bien aux débutants qu’aux amateurs. Il
                    invite à découvrir (ou redécouvrir) les bases de la bière à travers la dégustation, l’expérimentation,
                    le sentir, le goûter. En bref, un coffret avec un peu de théorie et beaucoup de pratique.
                </p>
            </div>
            <div class="elements">
                <!-- Contient les éléments du coffret (ligne entière)-->
                <div class="bottles">
                    <!-- Contient les bières-->
                    <div class="legend">
                        <!-- Contient flèche + texte -->
                        <img src="fleches/slide5-bottles-arrow.png" alt="fleche">
                        <div class="text-legend">
                            <h4>6 bières de types différents</h4>
                            <p>pour apprendre en dégustant</p>
                        </div>
                    </div>
                    <div class="illustrations">
                        <img src="slide5/biere-1.png" alt="biere-1" title="biere-1"/>
                        <img src="slide5/biere-2.png" alt="biere-2" title="biere-2"/>
                        <img src="slide5/biere-3.png" alt="biere-3" title="biere-3"/>
                        <img src="slide5/biere-4.png" alt="biere-4" title="biere-4"/>
                        <img src="slide5/biere-5.png" alt="biere-5" title="biere-5"/>
                        <img src="slide5/biere-6.png" alt="biere-6" title="biere-6"/>
                    </div>
                </div>
                <div class="echantillons">
                    <!-- Contient les échantillons-->
                    <div class="legend">
                        <!-- Contient flèche + texte -->
                        <div class="text-legend">
                            <h4>4 échantillons d'orge et de houblon</h4>
                            <p>pour goûter et sentir le coeur de la bière</p>
                        </div>
                        <img src="fleches/slide5-echantillons-arrow.png" alt="fleche">
                    </div>
                    <div class="illustrations">
                        <img src="slide5/echantillon-1.png" alt="echantillon" title="echantillon"/>
                        <img src="slide5/echantillon-2.png" alt="echantillon" title="echantillon"/>
                        <img src="slide5/echantillon-1.png" alt="echantillon" title="echantillon"/>
                        <img src="slide5/echantillon-2.png" alt="echantillon" title="echantillon"/>
                    </div>
                </div>
                <div class="verres">
                    <!-- Contient les verres-->
                    <div class="legend">
                        <!-- Contient flèche + texte -->
                        <img src="fleches/slide5-verres-arrow.png" alt="fleche">
                        <div class="text-legend">
                            <h4>2 verres INAO</h4>
                            <p>pour concentrer et comparer les arômes</p>
                        </div>
                    </div>
                    <div class="illustrations">
                        <img src="slide5/verre.png" alt="verre1" title="verre1">
                        <img src="slide5/verre.png" alt="verre2" title="verre2">
                    </div>
                </div>
            </div>
        </div>
        <div class="guide">
            <!-- Contient le guide d'initiation-->
            <div class="legend">
                <!-- Contient flèche + texte -->
                <div class="text-legend">
                    <h4>1 guide d'initiation</h4>
                    <p>pour apprendre à déguster, connaître les bases et casser les clichés de la bière</p>
                </div>
                <img src="fleches/slide5-guide-arrow.png" alt="fleche">
            </div>
            <div class="illustrations">
                <img src="slide5/guide.png" title="guide d'initiation">
            </div>
        </div>
    </div>
</template>