<template name="slide6">
    <div class="slides" id="slide6">
        <!--<div class="team-names">
            <h3>Gaëtan</h3>
            <img src="" alt="fleche">
        </div>
        <div class="team-names">
            <h3>Benjamin</h3>
            <img src="" alt="fleche">
        </div>
        <div class="team-names">
            <h3>Christian</h3>
            <img src="" alt="fleche">
        </div>
        <div class="team-names">
            <img src="" alt="fleche">
            <h3>Thomas</h3>
        </div>
        <div class="team-names">
            <img src="" alt="fleche">
            <h3>Maël</h3>
        </div>-->
    </div>
</template>