<template name="slide9">
    <div class="slides" id="slide9">
        <div class="angel-section">
            <img src="slide9/ange-chercheur.png" alt="right choice" titre="right choice"/>
        </div>
        <div class="CTA-buy">
            <img src="slide9/aureole.png" alt="aureole" title="aureole">
            <a href="http://www.chercheursdorge.com" type="button">ACHETER</a>
        </div>
        <div class="devil-section">
            <img src="slide9/devil-bottle.png" alt="wrong choice" title="wrong choice">
        </div>
    </div>
</template>