<template name="slide6">
    <div class="slides" id="slide6">
        <div id="whole-team" class="team-member">
            <div class="transparent-container transparent-container-team">
                <img src="co-logo-main.png" title="logo chercheurs d'orge" alt="logo chercheurs d'orge">
                <p>
                    Novo denique perniciosoque exemplo idem Gallus ausus est inire flagitium grave, quod Romae cum ultimo
                    dedecore temptasse aliquando dicitur Gallienus
                </p>
            </div>
        </div>
        <div id="christian-team" class="team-member">
            <div class="transparent-container transparent-container-member">
                <h2>Christian Oronos</h2>
                <p>
                    Novo denique perniciosoque exemplo idem Gallus ausus est inire flagitium grave, quod Romae cum ultimo
                    dedecore temptasse aliquando dicitur Gallienus, et adhibitis paucis clam ferro succinctis vesperi per
                    tabernas palabatur et conpita quaeritando Graeco sermone, cuius erat inpendio gnarus, quid de Caesare
                    quisque sentiret. et haec confidenter agebat in urbe ubi pernoctantium luminum claritudo dierum solet
                    imitari fulgorem. postremo agnitus saepe iamque, si prodisset, conspicuum se fore contemplans, non
                    nisi luce palam egrediens ad agenda quae putabat seria cernebatur. et haec quidem medullitus multis
                    gementibus agebantur.
                </p>
            </div>
        </div>
        <div id="mael-team" class="team-member">
            <div class="transparent-container transparent-container-member">
                <h2>Mael</h2>
                <p>
                    Novo denique perniciosoque exemplo idem Gallus ausus est inire flagitium grave, quod Romae cum ultimo
                    dedecore temptasse aliquando dicitur Gallienus, et adhibitis paucis clam ferro succinctis vesperi per
                    tabernas palabatur et conpita quaeritando Graeco sermone, cuius erat inpendio gnarus, quid de Caesare
                    quisque sentiret. et haec confidenter agebat in urbe ubi pernoctantium luminum claritudo dierum solet
                    imitari fulgorem. postremo agnitus saepe iamque, si prodisset, conspicuum se fore contemplans, non
                    nisi luce palam egrediens ad agenda quae putabat seria cernebatur. et haec quidem medullitus multis
                    gementibus agebantur.
                </p>
            </div>
        </div>
        <div id="gaetan-team" class="team-member">
            <div class="transparent-container transparent-container-member">
                <h2>Gaëtan</h2>
                <p>
                    Novo denique perniciosoque exemplo idem Gallus ausus est inire flagitium grave, quod Romae cum ultimo
                    dedecore temptasse aliquando dicitur Gallienus, et adhibitis paucis clam ferro succinctis vesperi per
                    tabernas palabatur et conpita quaeritando Graeco sermone, cuius erat inpendio gnarus, quid de Caesare
                    quisque sentiret. et haec confidenter agebat in urbe ubi pernoctantium luminum claritudo dierum solet
                    imitari fulgorem. postremo agnitus saepe iamque, si prodisset, conspicuum se fore contemplans, non
                    nisi luce palam egrediens ad agenda quae putabat seria cernebatur. et haec quidem medullitus multis
                    gementibus agebantur.
                </p>
            </div>
        </div>
        <div id="benjamin-team" class="team-member">
            <div class="transparent-container transparent-container-member">
                <h2>Benjamin</h2>
                <p>
                    Novo denique perniciosoque exemplo idem Gallus ausus est inire flagitium grave, quod Romae cum ultimo
                    dedecore temptasse aliquando dicitur Gallienus, et adhibitis paucis clam ferro succinctis vesperi per
                    tabernas palabatur et conpita quaeritando Graeco sermone, cuius erat inpendio gnarus, quid de Caesare
                    quisque sentiret. et haec confidenter agebat in urbe ubi pernoctantium luminum claritudo dierum solet
                    imitari fulgorem. postremo agnitus saepe iamque, si prodisset, conspicuum se fore contemplans, non
                    nisi luce palam egrediens ad agenda quae putabat seria cernebatur. et haec quidem medullitus multis
                    gementibus agebantur.
                </p>
            </div>
        </div>
        <div id="thomas-team" class="team-member">
            <div class="transparent-container transparent-container-member">
                <h2>Thomas</h2>
                <p>
                    Novo denique perniciosoque exemplo idem Gallus ausus est inire flagitium grave, quod Romae cum ultimo
                    dedecore temptasse aliquando dicitur Gallienus, et adhibitis paucis clam ferro succinctis vesperi per
                    tabernas palabatur et conpita quaeritando Graeco sermone, cuius erat inpendio gnarus, quid de Caesare
                    quisque sentiret. et haec confidenter agebat in urbe ubi pernoctantium luminum claritudo dierum solet
                    imitari fulgorem. postremo agnitus saepe iamque, si prodisset, conspicuum se fore contemplans, non
                    nisi luce palam egrediens ad agenda quae putabat seria cernebatur. et haec quidem medullitus multis
                    gementibus agebantur.
                </p>
            </div>
        </div>
    </div>
</template>