<template name="slide4">
    <div class="slides" id="slide4">
        <section>
            <div class="description">
                <h2>Et pourtant en France, <span class="CocoriKro-text">cocoriKro !</span></h2>
                <p>
                    Novo denique perniciosoque exemplo idem Gallus ausus est inire flagitium grave, quod Romae cum ultimo
                    dedecore temptasse aliquando dicitur Gallienus, et adhibitis paucis clam ferro succinctis vesperi per
                    tabernas palabatur et conpita quaeritando Graeco sermone, cuius erat inpendio gnarus, quid de Caesare
                    quisque sentiret. et haec confidenter agebat in urbe ubi pernoctantium luminum claritudo dierum solet
                    imitari fulgorem. postremo agnitus saepe iamque, si prodisset, conspicuum se fore contemplans, non
                    nisi luce palam egrediens ad agenda quae putabat seria cernebatur. et haec quidem medullitus multis
                    gementibus agebantur.
                </p>
            </div>
            <div class="elements">
                <div class="bottles">
                    {{#each bottles}}
                        <img src="{{this}}" alt="bottle of beer drawing" title="bottle of beer"/>
                    {{/each}}
                </div>
            </div>
        </section>
        <div class="cocoriKro">
            <img src="slide4/cocoriKro.png">
        </div>
    </div>
</template>