<template name="slide2">
    <div class="slides" id="slide2">
        <div class="transparent-container">
            <h2>Christian Oronos</h2>
            <p>
                Novo denique perniciosoque exemplo idem Gallus ausus est inire flagitium grave, quod Romae cum ultimo
                dedecore temptasse aliquando dicitur Gallienus, et adhibitis paucis clam ferro succinctis vesperi per
                tabernas palabatur et conpita quaeritando Graeco sermone, cuius erat inpendio gnarus, quid de Caesare
                quisque sentiret. et haec confidenter agebat in urbe ubi pernoctantium luminum claritudo dierum solet
                imitari fulgorem. postremo agnitus saepe iamque, si prodisset, conspicuum se fore contemplans, non
                nisi luce palam egrediens ad agenda quae putabat seria cernebatur. et haec quidem medullitus multis
                gementibus agebantur.
            </p>
        </div>
    </div>
</template>