<template name="slide7">
    <div class="slides" id="slide7">
        <div class="description">
            <h2>L'univers de la bière est riche et complexe</h2>
            <p>Novo denique perniciosoque exemplo idem Gallus ausus est inire flagitium grave, quod Romae cum ultimo
                dedecore temptasse aliquando dicitur Gallienus, et adhibitis paucis clam ferro succinctis vesperi per
                tabernas palabatur et conpita quaeritando Graeco sermone, cuius erat inpendio gnarus, quid de Caesare
                quisque sentiret.</p>
        </div>
        <div class="elements">
            <img src="slide7/verre-biere-1.png" alt="verre de biere" title="verre de biere 1"/>
            <img src="slide7/verre-biere-2.png" alt="verre de biere" title="verre de biere 2"/>
            <img src="slide7/verre-biere-3.png" alt="verre de biere" title="verre de biere 3"/>
            <img src="slide7/verre-biere-4.png" alt="verre de biere" title="verre de biere 4"/>
            <img src="slide7/verre-biere-5.png" alt="verre de biere" title="verre de biere 5"/>
            <img src="slide7/verre-biere-6.png" alt="verre de biere" title="verre de biere 6"/>
        </div>
    </div>
</template>