@import "{wolves:bourbon}/bourbon";
@import "{wolves:neat}/neat";

//Main page

.container{
  @include outer-container(102%);
  $visual-grid: true;
  #slide4 {
    @include row();

    section {
      @include span-columns(8);
      //@include pad();
    }
    .cocoriKro {
      @include span-columns(4);
      //@include reset-display;
      //@include pad();
    }
  }

  #slide5 {

    > div:first-child {
      @include span-columns(9);

      .description {
        @include span-columns(9 of 9);
      }

      .elements {
        @include span-columns(9);

        .bottles {
          @include span-columns(5 of 9);
          .legend {
            @include span-columns(5 of 5);
          }
        }

        .echantillons {
          @include span-columns(2 of 9);
        }

        .verres {
          @include span-columns(2 of 9);
        }
      }
    }
    .guide {
      @include span-columns(3);
    }
  }

  #slide7 {
    .description {
      @include row();
    }
    .illustrations {
      @include row();
    }
  }

  #slide9{
    .angel-section {
      @include span-columns(5);
    }
    .CTA-buy {
      @include span-columns(2);
    }
    .devil-section {
      @include span-columns(5);
    }
  }
}

//****************************** Blog container ***********************************

.blog {
  width:80%;
  margin-right: auto;
  margin-left: auto;

  &.posts-list{
    .post {
      @include row();
      .post-image {
        @include span-columns(4)
      }
      .post-text {
        @include span-columns(8)
      }
    }
  }

  &.post-page{
    .post{
      .post-image{
        @include span-columns(12)
      }
      .post-text{
        @include span-columns(12)
      }
    }
  }
}

//****************************** Questionnaire container *******************************

.questionnaire-container {
  width:60%;
  margin-right: auto;
  margin-left: auto;
}


