<template name="header">
    <header class="navigation" role="banner">
        <div class="navigation-wrapper">
            <a href="{{pathFor 'slides' hash="slide1"}}" class="logo">
                <img src="co-logo-main.png" alt="Logo Image">
            </a>
            <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
            <nav role="navigation">
                <ul id="js-navigation-menu" class="navigation-menu show">
                    <li class="nav-link scroll-on-page-link"><a href="{{pathFor 'slides' hash='slide7'}}">Découvrir</a></li>
                    <li class="nav-link scroll-on-page-link"><a href="{{pathFor 'slides' hash='slide9'}}">Acheter</a></li>
                    <li class="nav-link scroll-on-page-link"><a href="{{pathFor 'team'}}">Equipe</a></li>
                    <li class="nav-link scroll-on-page-link"><a href="{{pathFor 'blog'}}">Blog</a></li>
                </ul>
            </nav>
        </div>
    </header>

</template>