<template name="register">
    <div class="main-container">
        <form id="register-form" action="#">
            <input name="register-name" id="register-name" type="text" placeholder="Nom">
            <input name="register-surname" id="register-surname" type="text" placeholder="Prénom">
            <input name="register-email" id="register-email" type="email" placeholder="Email"/>
            <input name="register-password" id="register-password" type="password" placeholder="chercheurs"/>
            <input name="register-password-repeat" id="register-password-repeat" type="password" placeholder="chercheurs"/>
            <input name="submit" type="submit" value="Valider"/>
        </form>
    </div>
</template>